<!DOCTYPE html>
<html>
  <head>
    <title>Fundmyproject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 

 <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css' %>

      </head>

  <body>
    <%= yield %>
  </body>
</html>
